<h1>[ngSwitch]</h1>
<input type="text" #ngif ="ngModel" [(ngModel)]="nameP">

<div [ngSwitch] = "nameP">
  <p *ngSwitchCase = "'Juan'">
    The person is Juan
  </p>
  <p *ngSwitchCase = "'Hola'">
    The person is Hola
  </p>
  <p *ngSwitchDefault>
    No match
  </p>

</div>


<h1>*ngFor Objs</h1>

<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>


<h1>*ngFor</h1>
<input type="text" #ngif ="ngModel" [(ngModel)]="newEmoji">
<button (click)="addEmoji()">Add Emoji</button>
<ul>
  <li *ngIf="arrayEmos.length < 1">No hay emojis 😛</li>
  <li *ngFor="let emo of arrayEmos; index as i">
  {{i+1}}  {{emo}}
  <button (click)="DeletEmoji(i)">Delet</button>
  </li>
</ul>



<h1>*ngIf</h1>
<p *ngIf="namePerson2 == 'Hola' && edad==18; else elseBlock">My Content</p>
<input type="text" #ngif ="ngModel" [(ngModel)]="namePerson2">

<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>


<h1>Eventos</h1>
<button [disabled]="btnStatus">Envíar</button>
<button (click)="toogleButton()">Toogle Button</button>
<p>Edad {{ edad }}</p>
<button (click)="masViejo()">Viejo</button>

<hr />

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor,
    dui sed dapibus ultrices, justo mi fermentum erat, ac sodales sem dui in
    libero. Duis nec ornare urna. Quisque luctus vestibulum rhoncus. Nulla
    hendrerit, arcu nec fringilla tempus, mi lacus venenatis nisl, ut
    condimentum urna justo vitae velit. Proin nec lectus quis elit feugiat
    egestas at vel dolor. Fusce feugiat odio sit amet hendrerit hendrerit. Nulla
    nec dui turpis. Suspendisse semper arcu enim, et tempus nunc tempor vitae.
    Morbi consequat non lorem quis pulvinar. Aenean ornare mi tincidunt, feugiat
    nulla a, tincidunt justo. Cras mi purus, bibendum ac placerat imperdiet,
    aliquet at mi. Phasellus eget urna felis. Suspendisse dictum neque vitae
    aliquam commodo. Praesent ut laoreet purus. Donec tellus nibh, pharetra in
    dolor at, blandit sagittis ligula. Maecenas nunc turpis, lacinia ac rhoncus
    vitae, suscipit at nisi. Vestibulum massa metus, faucibus ac tellus eget,
    rutrum aliquam libero. Phasellus justo tellus, congue sit amet mauris eget,
    aliquam pulvinar eros. Maecenas fringilla sit amet erat vitae commodo. Donec
    cursus nisi ut sem mattis laoreet. Sed ultrices justo justo, ut varius urna
    eleifend et. Morbi mattis elit et elit dapibus fringilla. Vivamus elementum
    consequat nisl eu suscipit. In vehicula blandit mi a rhoncus. Phasellus
    scelerisque blandit nunc, ac gravida ex ultrices a. Nullam nec sapien at
    nibh ultricies congue. Aenean a volutpat ex. In hac habitasse platea
    dictumst. Etiam id enim accumsan nisl luctus facilisis. Suspendisse aliquet
    massa commodo nibh lacinia, vitae vehicula orci pretium. Fusce ut volutpat
    urna. Curabitur bibendum eros nulla, sit amet consequat lectus sollicitudin
    nec. Praesent blandit tortor quis tincidunt imperdiet. Curabitur diam est,
    vehicula vel turpis id, consequat mattis arcu. Curabitur sollicitudin
    venenatis ex.
  </p>
</div>
<!-- Bindings -->
<h4>Your name is: {{namePerson}}</h4>
<input type="text" [value]="namePerson" (keyup)="changeName($event)">
<!-- NgModel -->
<h4>Caja de bananos: {{namePerson2}}</h4>
<input type="text" required #nameInput="ngModel" [(ngModel)]="namePerson2">
<p>Valid: {{nameInput.valid}}</p>

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnStatus">Envíar</button>
<input type="text" [value]="title" />
<progress max="100" [value]="config.progressValor"></progress>
